[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "extern/Streamline-DX12"]
	path = extern/Streamline-DX12
	url = https://github.com/NVIDIAGameWorks/Streamline.git
[submodule "extern/FidelityFX-SDK"]
	path = extern/FidelityFX-SDK
	url = https://github.com/MapleHinata/FidelityFX-SDK
[submodule "extern/NRD"]
    path = extern/NRD
    url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser.git
